* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: math;
}

:root {
    --bs-black: #000;
    --bs-white: #fff;
    --bs-blue: #009cff;
    --bs-lightGrey: #f3f6f9;
    --bs-grey: #d3d3d367;
    --bs-red: red;
}

body {
    background-color: var(--bs-white);
}

.dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.dashboard-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;
    width: 20em;
    background-color: var(--bs-lightGrey);
    opacity: 1;
    transition: opacity 0.1s ease-out, width 0.3s ease-out;
}

.dashboard-div.hide {
    opacity: 0;
    width: 0;
    pointer-events: none;
}

.offcanvas-button,
.offcanvas {
    display: none;
}

.content-div {
    width: 100%;
    height: 100%;
}

.btn-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    background-color: var(--bs-lightGrey);
}

.dashboard-button {
    background-color: var(--bs-white);
    border: none;
    border-radius: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    position: relative;
    left: 1em;
    height: 3em;
}

.offcanvas-button .bi,
.dashboard-button .bi {
    color: var(--bs-blue);
    font-size: 2em;
    padding: 0;
}

.cont {
    height: 95%;
    overflow-y: auto;
}

.content {
    display: flex;
    gap: 2em;
    padding: 2em;
    flex-wrap: wrap;
    font-size: 1rem;
    color: var(--bs-blue);
}

.gslsa {
    display: flex;
    align-items: center;
    font-size: 1.4em;
}

.GSLSA {
    display: none;
}

.panel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    height: 10em;
    border-bottom: 0.13em solid var(--bs-grey);
}

.panel-title a {
    text-decoration: none;
}

.p-title {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 0.3em;
    color: var(--bs-blue);
    font-weight: 800;
    font-size: 1.8rem;
}

.p-title span {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

.bi-person-workspace {
    padding: 0 !important;
    background: none !important;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    padding: 1em;
    height: 7em;
    width: 100%;
    border-top: 0.13em solid var(--bs-grey);
    cursor: pointer;
}

.logout .logbtn {
    font-size: 1.2em;
}

.lang {
    display: flex;
    align-items: center;
    gap: 0.3em;
    padding: 1em;
    position: relative;
    right: 1em;
}

.lang .bi-database-fill {
    font-size: 1.3rem;
}

.lang a {
    text-decoration: none;
    color: var(--bs-black);
    padding: 0.2em;
}

.bi-translate {
    font-size: 1.3em;
    color: var(--bs-black);
}

.bi-x-lg {
    display: none;
}

.bi-x-lg::before {
    color: var(--bs-red);
    font-weight: 800 !important;
}

.accordion {
    height: 100%;
    width: 100%;
    --bs-accordion-btn-icon-width: 0.8em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    padding: 1em 1em 1em 3em;
    overflow-x: auto;
}

.accordion .accordion-item {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.accordion .accordion-item .accordion-button {
    background-color: transparent;
    box-shadow: none;
    padding: 0 0.5em;
    border-radius: 0.3em;
    width: auto;
    gap: 0.2em;
    color: var(--bs-black);
    font-size: 1.1em;
}

.accordion .accordion-item .accordion-button .bi {
    font-size: 1.2em;
}

.list-group-item {
    border: none;
}

.accordion .accordion-item .accordion-collapse ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.accordion .accordion-item .accordion-collapse li {
    width: 10em;
    list-style: none;
    transition: transform 0.3s ease-in-out;
}

.accordion .accordion-item .accordion-collapse li:hover {
    transform: translateX(10%);
}

.active {
    background-color: var(--bs-blue);
    border-radius: 0.3em;
    color: var(--bs-white) !important;
}

.actived,
.accordion .accordion-item .accordion-button:hover {
    color: var(--bs-blue) !important;
    background-color: var(--bs-white) !important;
}

.accordion .accordion-item .accordion-collapse a {
    color: var(--bs-black);
    display: block;
    text-decoration: none;
    padding: 0 0.2em;
    position: relative;
    left: 3em;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.02rem;
}

.bi {
    background-color: var(--bs-white);
    padding: 0.3em 0.5em;
    border-radius: 50%;
}

.accordion .accordion-item .accordion-button {
    width: 100%;
}

.accordion-button::after {
    margin-left: 0;
}

.form {
    padding: 1em;
    width: 25em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: var(--bs-lightGrey);
    border-radius: 0.3em;
}

.btn-success,
.btn-info {
    width: 5em;
}

.table-responsive {
    height: fit-content;
    background-color: var(--bs-lightGrey);
    padding: 0.5em;
    border-radius: 0.3em;
}

.table {
    margin: 0;
    width: auto;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .dashboard-div,
    .dashboard-button {
        display: none;
    }

    .offcanvas {
        display: flex;
        width: 18em !important;
    }

    .offcanvas-body {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--bs-lightGrey);
    }

    .offcanvas-button {
        background-color: var(--bs-white);
        border: none;
        border-radius: 30%;
        display: flex;
        align-items: center;
    }

    .bi-x-lg {
        display: block;
        position: relative;
        top: -2em;
    }

    .content {
        justify-content: center;
    }

    .accordion .accordion-item .accordion-collapse li:hover {
        transform: none;
    }
    .accordion .accordion-item .accordion-button:hover {
        background-color: transparent !important;
        color: var(--bs-black) !important;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .gslsa {
        display: none;
    }

    .GSLSA {
        display: block;
        padding: 1em;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 0.4em;
}

/* ::-webkit-scrollbar-track {
    background-color: white;
} */

::-webkit-scrollbar-thumb {
    background-color: var(--bs-grey);
}

/* ::-webkit-scrollbar-thumb:hover {
    background-color: var(--bs-blue);
} */
