.event_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    padding: 1em;
}

.event {
    justify-content: center;
    align-items: center;
    height: 15em;
    width: 15em;
    transition: transform 0.2s ease-in-out;
}

.event:hover {
    transform: scale(1.02);
}

.card-img {
    height: 100%;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 0.3em;
    background-color: #0000007a;
}

.event_name {
    font-size: 1.1rem;
    font-weight: 800;
}

.event_date {
    font-weight: 600;
}

.event_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1em;
    min-height: 25em;
}

.event_details h1 {
    margin-top: 1.5em;
}

.size {
    width: 20em;
    height: 12em;
    border-radius: 0.5em;
    transition: transform 0.5s ease;
}

.size:hover {
    transform: scale(1.05);
}

.media_links {
    display: flex;
    margin-bottom: 1em;
    box-shadow: inset 0 0 1em 0.1em var(--gslsa-navbar-box-shadow);
    border-radius: 0.5em;
}

.media_link {
    font-size: 1.5em;
    cursor: pointer;
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media {
    display: none;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.activa {
    background-color: var(--bs-mainTheme);
    border-radius: 0.5em;
    color: var(--bs-white);
}

.back {
    font-size: 0.9rem;
    position: absolute;
    left: 1em;
}
