.what_is {
    padding: 2em;
    width: 80%;
    margin: 0 auto;
}

.what_is span {
    font-weight: 700;
    font-size: 1.3em;
}

.legal_heir {
    padding: 1em;
    width: 60%;
}

.contain {
    padding: 1em;
    display: flex;
    background-color: var(--bs-contain-bg);
    justify-content: center;
    align-items: center;
    gap: 5em;
    box-shadow: 0em 0em 1em 0em var(--bs-contain-bs);
}

.img-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.img-contain img {
    width: 9em;
    border-radius: 50%;
}

.post-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.name {
    color: #0181dd;
    font-size: 1.3rem;
    font-weight: 700;
}

.role {
    color: #0dccd7;
    font-weight: 600;
    font-size: 1.1rem;
}

.info {
    font-size: 1.3rem;
}

.contact_no {
    color: var(--bs-mainTheme);
}

/* .note {
    color: var(--bs-mainTheme);
} */

.legaltitles {
    color: var(--bs-legal-aid-titles-c);
}

.legaldesc {
    color: var(--bs-legal-aid-desc-c);
}

@media (max-width: 991.98px) {
    .contain {
        gap: 2em;
        flex-wrap: wrap;
    }

    .what_is {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .legal_heir {
        width: 100%;
    }
}
