.outer_contain {
    padding: 2em;
    width: 80%;
    margin: 0 auto;
    color: var(--bs-lok-adalat-container-c);
}

.term {
    color: var(--bs-lok-titles-c);
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

@media (max-width: 991.98px) {
    .outer_contain {
        width: 100%;
    }
    
}

